
.containerCabecalho{
  background-color: var( --color1 );
  border-radius: 20px  20px 0 0;
  height: 50px;
  padding: 8px;
  color: white;
}
.containerCabecalho h1{
  font-weight: 500;
  margin-left: 20px;
}
